<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">


	<http auto-config="true">

		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<!-- <intercept-url pattern="/user**" access="hasAnyRole'ROLE_USER','ROLE_ADMIN')" />   -->
		<intercept-url pattern="/user**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')" /> 
		
		<access-denied-handler error-page="/403" />
		<form-login login-page="/login" default-target-url="/welcome" 
			login-processing-url="/j_spring_security_check" 
			authentication-failure-url="/login?error" username-parameter="username"
			password-parameter="password" />    

		<logout logout-success-url="/login" invalidate-session="true" />
		<csrf />
	</http>

  

	<authentication-manager>
		<authentication-provider>
			<!-- <user-service> <user name="admin" password="1234" authorities="ROLE_ADMIN" 
				/> </user-service> -->

			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username,password, enabled from users where username=?"
				authorities-by-username-query="select username, role from user_roles where username =?  " />
		</authentication-provider>
	</authentication-manager>


</beans:beans>